@import '../../../styles/mixins';

.button {
  border-radius: 25px;
  background-color: #2962ff;
  outline: none;
  border: none;
  font-family: 'Epilogue', sans-serif;
  padding: 15.5px 24px;
  @include font(16px, 16px, 600, #fff);
  transition: 0.3s ease;
  &:hover,
  &:focus {
    background-color: #0044ff;
  }
}
