@import '../../../styles/mixins';

.wrapper {
  padding: 114px 0 164px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 90%;
    padding: 0 15px;
    margin-inline: auto;
    background-color: #979797;
    opacity: 0.44;
    height: 1px;
  }
  .follow {
    max-width: 595px;
    padding: 0 23px;
    margin-inline: auto;
    text-align: center;
    .title {
      @include font(48px, 58px, 600);
      margin-bottom: 17px;
      letter-spacing: -1.95918px;
    }
    input {
      max-width: 353px;
      margin-bottom: 36px;
    }
    .subtitle {
      @include font(17px, 30px, 500, rgba(0, 0, 0, 0.59));
      margin-bottom: 35px;
    }
  }
}
