@import '../../../styles/mixins';

.wrapper {
  @include flex(_, space-between, inherit);
  gap: 10px;
  margin-bottom: 20px;
  .banner {
    flex-grow: 1;
    .image {
      position: relative;
      div {
        bottom: -10px;
        left: 18px;
        background: rgba(255, 255, 255, 0.58);
        backdrop-filter: blur(24.4645px);
        border-radius: 15px;
        padding: 8.75px;
        position: absolute;
        height: 70px;
      }
    }
    .action {
      border: 1px solid #d0d3db;
      border-top: none;
      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
      padding: 30px 22px;
      @media screen and (max-width: 650px) {
        padding: 20px 12px;
      }
      @include flex;
      .text {
        @include flex(_, center);
        gap: 55px;
        h2 {
          @include font(28px, 28px, 500, #000);
          letter-spacing: -0.02em;
          @media screen and (max-width: 650px) {
            font-size: 22px;
          }
        }
        div {
          @include flex(_, center);
          position: relative;
          &::before {
            content: '';
            position: absolute;
            top: 8px;
            left: -30px;
            width: 7px;
            height: 7px;
            border-radius: 4px;
            background: #d0d3db;
          }
          svg g {
            opacity: 1;
          }
          p {
            cursor: pointer;
            @include font(14px, 24px, 500, #000);
            letter-spacing: -0.01em;
            margin-left: 12px;
            border-bottom: 2px solid black;
            border-bottom-style: dotted;
            transition: 0.1s ease;
            &:hover {
              border-bottom-color: transparent;
            }
          }
        }
        .saved {
          @media screen and (max-width: 1290px) {
            display: none;
          }
        }
        .info,
        .delivery {
          @media screen and (max-width: 1150px) {
            display: none;
          }
        }
      }
      .rate {
        @include flex(_, center);
        p {
          margin-left: 6px;
        }
      }
    }
  }
  .options {
    padding: 10px;
    width: 138px;
    border-radius: var(--border-radius);
    gap: 10px;
    @include flex(column);
    background: #fff;
    box-shadow: 0px 2px 2px rgba(223, 226, 235, 0.79);
    @media screen and (max-width: 700px) {
      display: none;
    }
    .item {
      width: 100%;
      flex-grow: 1;
      border-radius: var(--border-radius);
      @include flex(column, center);
      transition: 0.3s ease;
      cursor: pointer;
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
          rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
      }
      p {
        color: rgba($color: #2e3456, $alpha: 0.3);
        margin-top: 8px;
      }
      &.active {
        background: var(--primary-color);
        svg {
          g {
            opacity: 1;
          }
          path {
            fill: #fff;
          }
        }
        p {
          color: #fff;
        }
      }
    }
  }
}
