@import '../../../styles/mixins';

.wrapper {
  padding: 105px 0 73px;
  .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease;
    @include xl {
      gap: 30px;
    }
    .content {
      max-width: 445px;
      @include lg {
        max-width: 365px;
      }
      .title {
        @include font(48px, 58px, 600);
        letter-spacing: -1.95918px;
        margin-bottom: 33px;
        span {
          font-weight: 800;
          display: inline-block;
          position: relative;
          &::after {
            content: '';
            position: absolute;
            bottom: 10px;
            left: 0;
            width: 100%;
            height: 15px;
            background: linear-gradient(0deg, #ff8600, #ff8600), #ff8600;
            mix-blend-mode: normal;
            opacity: 0.32;
            z-index: -1;
          }
        }
      }
      .action {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 33px;
      }
      .text {
        padding: 0 10px;
        @include font(17px, 30px, 500, rgba(0, 0, 0, 0.59));
      }
    }
  }
}
