@import '../../../styles/mixins';

.wrapper {
  padding: 149px 0 165px;
  background: #000;
  color: #fff;
  @include md {
    padding: 89px 0 105px;
  }
  .footer {
    display: flex;
    align-items: center;
    @include md {
      flex-direction: column;
    }
    .logo {
      width: 48%;
      @include lg {
        width: 35%;
      }
      @include md {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
      }
    }
    .terms {
      width: 52%;
      display: flex;
      justify-content: space-between;
      @include lg {
        width: 65%;
      }
      @include lg {
        width: 100%;
      }
      @include sm {
        flex-direction: column;
        text-align: center;
      }
      .nav__list {
        margin-bottom: 50px;
        .nav__item {
          margin-bottom: 23px;
          &:last-child {
            margin-bottom: 0;
          }
          a {
            @include font(16px, 16px, 600, rgba(255, 255, 255, 0.58));
          }
        }
      }
      .contacts {
        .call {
          margin-bottom: 39px;
          @include sm {
            margin-bottom: 25px;
          }
        }
        a {
          @include font(16px, 16px, 500, rgba(255, 255, 255, 0.58));
          letter-spacing: -0.4px;
        }
        p {
          @include font(17px, 17px, 700, #fff);
          margin-bottom: 15px;
          letter-spacing: -0.425px;
        }
      }
    }
  }
}
