@import '../../../styles/mixins';

.sidebar {
  @media screen and (max-width: 992px) {
    display: none;
  }
  .hamburger {
    border-radius: var(--border-radius);
    background: #fff;
    padding: 18px 23px;
    @include flex(_, flex-start);
    gap: 22px;
    box-shadow: 0px 2px 2px rgba(223, 226, 235, 0.79);
    margin-bottom: 10px;
    svg {
      cursor: pointer;
    }
    p {
      @include font(20px, 24px, 600);
    }
  }

  .menu {
    position: sticky;
    top: 16px;
    border-radius: var(--border-radius);
    background: #fff;
    padding: 37px 29px 16px;
    box-shadow: 2px 0px 2px rgba(223, 226, 235, 0.79);
    .profile {
      .image {
        @include flex;
        margin-bottom: 20px;
        svg {
          cursor: pointer;
          g {
            transition: 0.3s ease;
          }
          &:hover {
            & g {
              opacity: 0.7;
            }
          }
        }
      }
      .info {
        text-align: center;
        margin-bottom: 25px;
        .name {
          @include font(18px, 116.3%, 500, #000);
          margin-bottom: 6px;
          letter-spacing: -0.01em;
        }
        .phone {
          @include font(14px, 116.3%, 400, #000);
          letter-spacing: -0.01em;
        }
      }
    }
    .wallet {
      margin-bottom: 52px;
      .balance {
        border-radius: var(--border-radius);
        background: rgba($color: #c0c2cc, $alpha: 0.07);
        border: 1px solid #f6f6f6;
        padding: 19px 16px 19px 20px;
        margin-bottom: 3px;
        @include flex;
        .text {
          .title {
            @include font(14px, 16px, 400, #000);
            letter-spacing: -0.4px;
            margin-bottom: 6px;
          }
          .price {
            @include font(20px, 24px, 700, #000);
            letter-spacing: -0.4px;
          }
        }
        .icon {
          width: 20px;
          height: 20px;
          border-radius: var(--border-radius);
          background: #16aa16;
          @include flex(_, center);
          svg {
            width: 16px;
            height: 16px;
            path {
              fill: #fff;
            }
          }
        }
      }
      .share {
        padding: 10px 34px;
        border-radius: var(--border-radius);
        background: rgb(242, 97, 16, 0.07);
        @include flex(_, center);
        gap: 12px;
        transition: 0.3s ease;
        cursor: pointer;
        &:hover {
          background: rgb(242, 97, 16, 0.1);
        }
        p {
          @include font(14px, 116.3%, 500, #f26110);
          letter-spacing: -0.01em;
        }
      }
    }
    .items {
      margin-bottom: 38px;
    }
  }
}
