@import '../../../styles/mixins';

.container {
  max-width: 1240px;
  padding: 0 15px;
  margin-inline: auto;
  transition: 0.3s ease;
  @include xl {
    max-width: 960px;
  }
  @include lg {
    max-width: 720px;
    padding: 0 10px;
  }
  @include md {
    max-width: 540px;
  }
  @include sm {
    max-width: 370px;
  }
}
