@import '../../../styles/mixins';

.wrapper {
  padding: 70px 0 70px;
  .work {
    // Left Top
    .left {
      display: flex;
      align-items: center;
      margin-bottom: 107px;
      padding-left: 25px;
      gap: 9%;
      @include xl {
        gap: 7%;
      }
      @include lg {
        padding-left: 0;
        flex-direction: column;
      }
      .decorator {
        top: 0;
        left: 0;
        transform: rotate(-3deg);
        @include xl {
          top: -15px;
          left: -25px;
          transform: scale(0.8) rotate(-4deg);
        }
        @include lg {
          top: -8px;
          left: -18px;
          transform: scale(1) rotate(-8deg);
        }
      }
      .small {
        right: 12px;
        bottom: 46px;
      }
    }
    .image {
      position: relative;
      padding: 27px;
      .decorator {
        position: absolute;
      }
      .small {
        position: absolute;
        background: #000;
        border-radius: 50px;
        width: 98px;
        height: 98px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    // Right
    .right {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      margin-bottom: 143px;
      padding-left: 100px;
      gap: 9%;
      @include xl {
        gap: 6%;
        padding-left: 35px;
      }
      @include lg {
        padding-left: 0;
        flex-direction: column;
      }
      .image {
        .decorator {
          top: 0;
          right: 0;
          transform: rotate(4deg);
          @include xl {
            top: -17px;
            right: -18px;
            transform: scale(0.8) rotate(3deg);
          }
          @include lg {
            transform: scale(1) rotate(3deg);
          }
        }
        .small {
          left: 0px;
          bottom: 55px;
        }
      }
    }
    // Left Bottom
    .leftBottom {
      display: flex;
      align-items: center;
      padding-left: 25px;
      gap: 9%;
      @include xl {
        gap: 7%;
      }
      @include lg {
        flex-direction: column;
        padding-left: 0;
      }
      .decorator {
        bottom: 5px;
        left: 25px;
        transform: rotate(-5deg);
        @include xl {
          bottom: -3px;
          left: 15px;
          transform: scale(0.8) rotate(-5deg);
        }
        @include lg {
          top: -12px;
          left: 0px;
          transform: scale(1) rotate(-5deg);
        }
      }
      .small {
        right: 34px;
        bottom: 45px;
      }
    }
    .content {
      max-width: 533px;
      @include xl {
        max-width: 495px;
      }
      @include lg {
        max-width: 700px;
        text-align: center;
      }
      .title {
        margin-bottom: 18px;
        letter-spacing: -1px;
        @include font(38px, 50px, 500);
        span {
          @include font(38px, 50px, 700);
        }
      }
      .subtitle {
        @include font(17px, 30px, 500, rgba(0, 0, 0, 0.47));
      }
    }
  }
}
