@import '../../../styles/mixins';

.wrapper {
  padding: 205px 0 73px;
  max-width: 740px;
  margin-inline: auto;
  position: relative;
  .arrow {
    svg {
      position: absolute;
      top: 0;
      right: 65px;
    }
    svg .arrow-1 {
      stroke-dashoffset: 267.2965087890625px;
      stroke-dasharray: 267.2965087890625px;
      -webkit-transition: stroke-dashoffset 1s ease 0s;
      transition: stroke-dashoffset 1s ease 0s;
    }

    svg.active .arrow-1 {
      stroke-dashoffset: 0;
    }

    svg .arrow-2 {
      stroke-dashoffset: 17.707963267948966px;
      stroke-dasharray: 17.707963267948966px;
      -webkit-transition: stroke-dashoffset 1s ease 0.12s;
      transition: stroke-dashoffset 1s ease 0.12s;
    }

    svg.active .arrow-2 {
      stroke-dashoffset: 0;
    }

    svg .arrow-3 {
      stroke-dashoffset: 14.369317054748535px;
      stroke-dasharray: 14.369317054748535px;
      -webkit-transition: stroke-dashoffset 1s ease 0.24s;
      transition: stroke-dashoffset 1s ease 0.24s;
    }

    svg.active .arrow-3 {
      stroke-dashoffset: 0;
    }

    svg .arrow-4 {
      stroke-dashoffset: 12.440306663513184px;
      stroke-dasharray: 12.440306663513184px;
      -webkit-transition: stroke-dashoffset 1s ease 0.36s;
      transition: stroke-dashoffset 1s ease 0.36s;
    }

    svg.active .arrow-4 {
      stroke-dashoffset: 0;
    }
  }
  .offers {
    text-align: center;

    .title {
      @include font(48px, 58px, 600);
      margin-bottom: 17px;
    }
    .subtitle {
      @include font(17px, 30px, 500, rgba(0, 0, 0, 0.59));
    }
    .offer {
      margin-top: 85px;
      text-align: center;
      max-width: 550px;
      margin-inline: auto;
      .image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 47px;
        padding: 61px 77px;
        border-radius: 50%;
        width: 234px;
        height: 234px;
        margin-inline: auto;
        svg {
        }
      }
      h3 {
        @include font(33px, 40px, 500);
        letter-spacing: -0.8px;
        margin-bottom: 12px;
        span {
          font-weight: 700;
        }
      }
      p {
        @include font(17px, 30px, 500, rgba(0, 0, 0, 0.52));
      }
    }
  }
}
