@import '../../../styles/mixins';

.widgets {
  margin-bottom: 50px;
  display: flex;
  gap: 12px;
  max-width: 100%;
  overflow-x: hidden;
  .widget {
    width: 250px;
    padding: 24px 24px 22px;
    border-radius: var(--border-radius);
    position: relative;
    background: url('/images/widget-1.png') no-repeat top center / cover;
    z-index: 1;
    .title {
      @include font(22px, 116.3%, 700, #ffe1cf);
      letter-spacing: -0.01em;
      margin-bottom: 6px;
    }
    .subtitle {
      @include font(14px, 22px, 500, rgb(255, 225, 207));
      letter-spacing: -0.01em;
      margin-bottom: 22px;
    }
    .btn {
      border-radius: 16px;
      padding: 7px 11px;
      @include font(12px, 18px, 700, rgb(229, 113, 45));
      letter-spacing: -0.01em;
      text-transform: uppercase;
      background: transparent;
    }
  }
}
