@import '../../../styles/mixins';

.widgets {
  margin-bottom: 50px;
  max-width: calc(100vw - 304px);
  @media screen and (max-width: 992px) {
    max-width: calc(100vw - 30px);
  }
  .swiper {
    &-wrapper {
      transition-timing-function: linear;
    }
  }
  .widget {
    height: 150px;
    width: 250px;
    padding: 21px 24px 22px;
    border-radius: var(--border-radius);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    .title {
      @include font(22px, 116.3%, 700, #ffe1cf);
      letter-spacing: -0.01em;
      margin-bottom: 6px;
    }
    .subtitle {
      @include font(14px, 22px, 500, rgb(255, 225, 207));
      letter-spacing: -0.01em;
      margin-bottom: 22px;
    }
    .btn {
      border-radius: 16px;
      padding: 7px 11px;
      @include font(12px, 18px, 700, rgb(229, 113, 45));
      letter-spacing: -0.01em;
      text-transform: uppercase;
      background: transparent;
    }
  }
}
